<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>tools.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>tools.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>tools.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCart</servlet-name>
        <servlet-class>tools.AddCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayCompra</servlet-name>
        <servlet-class>tools.PayCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelCompra</servlet-name>
        <servlet-class>tools.DelCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverItem</servlet-name>
        <servlet-class>tools.RemoverItem</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCart</servlet-name>
        <url-pattern>/AddCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayCompra</servlet-name>
        <url-pattern>/PayCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelCompra</servlet-name>
        <url-pattern>/DelCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverItem</servlet-name>
        <url-pattern>/RemoverItem</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
